.cards {
  border-bottom: 1px solid $border-bottom;

  @media (min-width: $screen-sm) {
    @include show--full;
  }

  &__title {
    @include responsive-padding;

    background: linear-gradient(
      90deg,
      rgb(248, 248, 248),
      rgb(255, 255, 255) 98.614%
    );
    margin-bottom: 16px;

    @media (min-width: $screen-sm) {
      margin-bottom: 24px;
    }
  }

  &__title-text {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: rgb(126, 126, 130);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__items {
    @include responsive-padding;
    &::after {
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(248, 248, 248, 0),
        rgb(248, 248, 248)
      );
    }
  }

  &__item-list {
    @media (min-width: $screen-sm) {
      transition: max-height 2s ease-in-out;
      width: 100%;
      max-height: 166px;
      overflow: hidden;
      display: grid;
      grid-column-gap: 24px;
      grid-row-gap: 16px;
      grid-template-columns: repeat(auto-fill, 224px);
      margin-bottom: 24px;
    }

    @media (min-width: $screen-lg) {
      grid-column-gap: 32px;
      grid-template-columns: repeat(auto-fill, 240px);
    }
  }

  &__link {
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid rgb(234, 234, 234);
    background: rgb(255, 255, 255);
    border-radius: 6px;
    width: 240px;

    @media (min-width: $screen-sm) {
      width: 224px;
    }

    @media (min-width: $screen-lg) {
      width: 240px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url('../img/Bitmap/ic_go.svg');
      opacity: 0.7;
      transform: scale(1);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
      transform: scale(1.1);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
  }

  &__button {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }
}

.card {
  &__duration {
    @media (min-width: $screen-sm) {
      margin-right: 20px;
    }
  }
}
