.technics {
  @include responsive-bottom;
  &__cards-link {
    height: 160px;
    display: flex;
    align-items: flex-start;
    &::after {
      right: 16px;
      bottom: 16px;
    }
    &:hover {
      border: 2px dashed $pink;
      border-radius: 6px;
    }
  }
  &__text {
    margin: 0;
    text-align: left;
    font-family: $font-family-medium;
  }
  &__button {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }
}
