//service

.service {
  background-color: rgb(248, 248, 248);
  overflow-x: hidden;
  &__container {
    @include respond-to('medium') {
      position: relative;
      padding: 0 20px;
      padding-top: 42px;
      margin-bottom: 50px;
    }
  }

  // .service__title

  &__title {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 40px;
    margin-bottom: 24px;
    &::before {
      content: '';
      position: absolute;
      width: 4px;
      height: 40px;
      background-color: #41f6d7;
      border-radius: 0 4px 4px 0;
      transform: translate(-16px, 0);
      @include respond-to('small') {
        transform: translate(-24px, 0);
      }
    }
  }

  // .service__navigation

  &__navigation {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100vw;
    margin-bottom: 24px;
  }

  // .service__navigation-link

  &__navigation-link {
    padding: 8px 16px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 6px;
    &:first-child {
      border-color: rgb(184, 255, 236);
      background-color: #ffffff;
    }
    a {
      margin: 1px;
      font-size: 16px;
      font-weight: 500;
      color: #7e7e82;
      letter-spacing: -0.2px;
      text-decoration: none;
      line-height: 20.8px;
    }
    &:active,
    &:hover {
      border-color: rgb(184, 255, 236);
      background-color: #ffffff;
    }
  }

  // .service__about

  &__about {
    @include respond-to('small') {
      display: flex;
    }
  }

  // .service__about-text

  &__about-text {
    @include respond-to('small') {
      margin-right: 48px;
    }
    > span {
      @include respond-to('medium') {
        display: contents;
      }
    }
  }

  // .service__text

  &__text {
    color: rgb(27, 28, 33);
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-bottom: 16px;
    &:nth-child(2) {
      @include respond-to('small') {
        display: block;
      }
    }
  }

  // .service__text--more

  &__text--more {
    display: none;
    @include respond-to('small') {
      display: block;
    }
    > span {
      display: none;
    }
  }

  // .service__button

  &__button {
    display: none;
    @include respond-to('small') {
      display: block;
    }
  }
  // .service__image

  &__image {
    width: 100vw;
    transform: translateX(-18px);
    @include respond-to('small') {
      width: 50%;
      transform: none;
      border-radius: 6px;
    }
  }

  .navigation-list {
  }
  .button {
    // .button__show-more

    &__show-more {
    }
  }
}
