.header {
  @include button-style;
  @include scale;
  height: 88px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  background-color: $white;

  &__container {
    @include responsive-padding;
    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__logo {
    position: relative;
    flex: 1 1 auto;
    margin-left: 16px;

    @media (min-width: $screen-sm) {
      margin-left: 40px;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__logo::before {
    @media (min-width: $screen-sm) {
      content: '';
      position: absolute;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      top: 50%;
      transform: translate(-20px, -50%);
    }
  }

  &__menu-button {
    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__contacts {
    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__contacts-list {
    display: none;

    @media (min-width: $screen-sm) {
      display: flex;
      gap: 16px;
      margin-right: 20px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    > span {
      display: none;
      @media (min-width: $screen-lg) {
        display: inline-block;
        font-weight: 500;
        letter-spacing: -0.2px;
        margin-right: 8px;
      }
    }
  }

  &__navigation {
    position: relative;
    display: flex;
    margin-left: 20px;

    &__navigation:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 32px;
      top: 50%;
      background: #eaeaea;
      transform: translate(-20px, -50%);
      @media (min-width: $screen-lg) {
        display: none;
      }
    }
  }

  &__nav-list {
    display: flex;
    gap: 16px;
    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      top: 50%;
      transform: translate(-20px, -50%);
      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    @media (min-width: $screen-sm) {
      margin-right: 0;
    }

    @media (min-width: $screen-md) {
      gap: 32px;
    }
  }
}

.header__nav-list-medium {
  display: none;

  @media (min-width: $screen-lg) {
    display: flex;
    @include scale;
  }
}
