//Fonts
$font-family-regular: 'TTLakes-Regular';
$font-family-medium: 'TTLakes-Medium';
$font-family-bold: 'TTLakes-Bold';

//Colors

$color-primary: #42a5f5;
$border-color: rgb(217, 255, 245);
$color-secondary: #41f6d7;
$color-background: #f8f8f8;
$color-text: #1b1c21;
$white: rgb(255, 255, 255);
$pink: rgb(255, 62, 121);
$grey: #7e7e82;

// Breakpoints

$min-width-small: 768px;
$min-width-medium: 1120px;
$min-width-large: 1440px;

// font-size

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
