@mixin button-style {
  .button {
    width: 40px;
    height: 40px;
    background-color: $pink;
    border-radius: 50%;
  }
}

//fonts

@mixin font-family($font-family) {
  font-family: $font-family;
}

//responsive-padding

@mixin responsive-padding {
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1440px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

//responsive margin-bottom

@mixin responsive-bottom {
  @media (min-width: 760px) {
    margin-bottom: 32px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 50px;
  }
}

//sidebar

@mixin responsive-sidebar {
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  min-width: 320px;
  width: auto;
  height: 100%;
  background-color: #ffffff;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  position: static;
}

//input-button

@mixin input-button {
  font-family: $font-family-bold;
  position: absolute;
  height: 32px;
  padding-top: 2px;
  padding-left: 16px;
  letter-spacing: -0.15px;
  background-color: $pink;
  color: $white;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out;
  text-align: left;

  &:hover {
    background-color: inherit;
    color: $pink;
  }
  &::after {
    content: '';
    position: absolute;
    right: 9px;
    bottom: 4px;
    width: 24px;
    height: 24px;
    background-image: url('../../src/img/order__icon.svg');
    background-repeat: no-repeat;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out;
  }
  &:hover::after {
    transform: scale(1.1);
    opacity: 1;
  }
}

//content-container-show--full

@mixin show--full {
  .content-container.content-container-show--full {
    max-height: 100vh;
    overflow: hidden;
    margin-bottom: 30px;
  }
}

//animation

@mixin grey-brighter {
  [class*='--grey']:hover {
    color: #7a7d88;
    transition: 0.3s;
  }
}

@mixin scale {
  [class*='--scale']:hover {
    transform: scale(1.1);
    opacity: 0.7;
    transition: 0.7s;
  }
}

//title-decoration

@mixin title-decoration($transformY) {
  content: '';
  position: absolute;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-radius: 0 4px 4px 0;
  transform: translate(-16px, $transformY);

  @media (min-width: $screen-sm) {
    transform: translate(-24px, $transformY);
  }

  @media (min-width: $screen-lg) {
    transform: translate(-32px, $transformY);
  }
}
