.content-container.content-container-show--full {
  max-height: 100vh;
  overflow: hidden;
  margin-bottom: 30px;
  transition-property: max-height;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}
