.swiper {
  overflow: hidden;
  margin-bottom: 24px;

  &-wrapper {
    padding-left: 0;
  }

  &-slide {
    width: 240px;
    height: auto;
  }

  &-pagination {
    position: static;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
      display: none;
    }

    &-bullet {
      width: 12px;
      height: 12px;
      border-color: grey;
    }

    &-bullet-active {
      background: grey;
    }
  }

  &-slide {
    .swiper-pagination {
      margin-top: 20px;
    }
  }
}

.swiper-pagination {
  margin-top: 16px;
  @media (min-width: $screen-sm) {
    display: none;
  }
}
