//Fonts

$font-family-regular: 'TTLakes-Regular';
$font-family-medium: 'TTLakes-Medium';
$font-family-bold: 'TTLakes-Bold';

//Colors

$border-color: rgb(217, 255, 245);
$color-decorate: #41f6d7;
$border-bottom: #d9fff5;
$color-background: #f8f8f8;
$color-text: #1b1c21;
$white: rgb(255, 255, 255);
$pink: rgb(255, 62, 121);
$grey: #7e7e82;

// Breakpoints

$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 1120px;
$screen-lg: 1440px;

// font-size

$font-size-small: 14px;
$font-size-medium: 16px;

//paddings

$indent-sm: 16px;
$indent-md: 24px;
$indent-lg: 32px;
